[submodule "codes/c_c++/fmt/fmt"]
	path = codes/c_c++/fmt/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "codes/c_c++/spdlog/spdlog"]
	path = codes/c_c++/spdlog/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "codes/c_c++/vcpkg/vcpkg"]
	path = codes/c_c++/vcpkg/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "codes/c_c++/asio/asio"]
	path = codes/c_c++/asio/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "codes/c_c++/hana/hana"]
	path = codes/c_c++/hana/hana
	url = https://github.com/boostorg/hana.git
[submodule "codes/c_c++/sqlpp11/sqlpp11"]
	path = codes/c_c++/sqlpp11/sqlpp11
	url = https://github.com/rbock/sqlpp11.git
