[submodule "codes/c_c++/spdlog/spdlog"]
	path = codes/c_c++/spdlog/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "codes/c_c++/sqlpp11/sqlpp11"]
	path = codes/c_c++/sqlpp11/sqlpp11
	url = https://github.com/rbock/sqlpp11.git
